<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.bytecode.use_reflection_optimizer">false</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.hbm2ddl.auto">update</property>


		<!-- <property name="hibernate.connection.url">jdbc:mysql://deployserver:3306/easyesdb</property> 
			<property name="hibernate.connection.username">easyesdb</property> <property 
			name="hibernate.connection.password">pds,M2,77</property> -->

		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/easyesdb</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password"></property>


		<!-- <property name="hibernate.connection.driver_class">org.h2.Driver</property> 
			<property name="hibernate.connection.password">sa</property> <property name="hibernate.connection.url">jdbc:h2:~/test</property> 
			<property name="hibernate.connection.username">sa</property> <property name="hibernate.dialect">org.hibernate.dialect.H2Dialect</property> 
			<property name="hibernate.hbm2ddl.auto">create-drop</property> <property 
			name="schemaUpdate">true</property> -->

		<property name="show_sql">true</property>
		
		<!-- shared schema -->
		<mapping resource="patient.hbm.xml" />
		<mapping resource="medicalrecords.hbm.xml" />
		<mapping resource="healthpath.hbm.xml" />


		<!-- organization schema -->
		<mapping resource="organization.hbm.xml" />
		<mapping resource="type-organization.hbm.xml" />

		<!-- emergencyIncident schema -->
		<!-- <mapping resource="caller.hbm.xml" />
		<mapping resource="emergencyIncidentState.hbm.xml" />
		<mapping resource="emergencyIncidentPriority.hbm.xml" />
		<mapping resource="emergencyIncidentLocation.hbm.xml" />
		<mapping resource="emergencyIncidentIntervention.hbm.xml" />
		<mapping resource="emergencyIncidentTicket.hbm.xml" />
		<mapping resource="emergencyInterventionVehicule.hbm.xml" />
		<mapping resource="injuredPatient.hbm.xml" />
		<mapping resource="type-incident.hbm.xml"></mapping>
		<mapping resource="type-vehicule.hbm.xml"></mapping>
		<mapping resource="type-InterventionVehiculeAvailability.hbm.xml"></mapping> -->



	</session-factory>
</hibernate-configuration>